---
BasedOnStyle: Chromium
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: DontAlign
AttributeMacros:
  - UNLIKELY
BinPackArguments: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
ColumnLimit: 120
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Never
ForEachMacros: # It doesn't particularly matter if these are ForEachMacros or IfMacros
  # No idea why test_iter doesn't need to be here but the other two do.
  - testcase
  - testgroup
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  # So that it doesn't insert it into the wrong place in __cpp numbers in compat.hh
  DecimalMinDigits: 7
  Hex: 4
  HexMinDigits: 6
LineEnding: LF
MaxEmptyLinesToKeep: 2
RemoveParentheses: ReturnStatement
SpaceAfterTemplateKeyword: false
WhitespaceSensitiveMacros:
  - STRING_NAME
  - test_iter
  - testcase
  - testgroup
  - TEST_ITEM
