---
BasedOnStyle: Chromium
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
ColumnLimit: 120
Cpp11BracedListStyle: false
IndentWidth: 4
InsertTrailingCommas: Wrapped
---
Language: Cpp
AccessModifierOffset: -4
AlignEscapedNewlines: DontAlign
AttributeMacros:
  - UNLIKELY
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
EmptyLineBeforeAccessModifier: Never
InsertBraces: true
MaxEmptyLinesToKeep: 2
SpaceAfterTemplateKeyword: false
WhitespaceSensitiveMacros:
  - PRINT_NAME
---
Language: JavaScript
RemoveBracesLLVM: true
