# Visual Studio things
*.vcxproj
*.vcxproj.*
**/Debug/
**/Release/
*.hint

# VS Code things
.vscode/

# wasm things
wasm/node_modules/
wasm/*.wasm
wasm/*.js
wasm/*.css

# Compilation outputs
*.out
*.exe
*.obj
trilangle
*.nativecodeanalysis.xml
out.c
