extends: 
  - stylelint-config-standard-scss
rules:
  number-max-precision: 10
  property-no-vendor-prefix:
    - true
    - ignoreProperties:
        # WebKit doesn't recognize text-size-adjust, only -webkit-text-size-adjust. Gecko doesn't recognize either one,
        # and Blink recognizes both.
        - text-size-adjust
        # Thanks WebKit
        - user-select
  shorthand-property-no-redundant-values: true
